      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

.in-one-column{
    margin-top: 5%;
}

.fixed-page-height {
    height: 1000px;
}

.center-table {
    margin: auto;
    width: 40% !important;
}

.fixed-forms {
    margin-top: 20%;
}