<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">

<head>
    <title>All members in maraton</title>
</head>
<body class="text-center">
<section layout:fragment="content">
    <div class="myform form ">
        <div class="logo mb-3">
            <div class="col-md-12 text-center">
                <h1>Create run</h1>
            </div>
        </div>
        <div class="fixed-forms">
            <form method="post" th:action="@{/runs}" th:object="${createRunRequest}">
                <table class="center-table">
                    <tr>
                        <td>
                            <label th:text="#{label.run.name}">name</label>
                        </td>
                        <td>
                            <input th:field="*{name}"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label th:text="#{label.run.place}">place</label>
                        </td>
                        <td>
                            <input th:field="*{place}"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label th:text="#{label.run.distance}">distance</label>
                        </td>
                        <td>
                            <input th:field="*{distance}"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label th:text="#{label.run.date}">date</label>
                        </td>
                        <td>
                            <input type="date" th:value="*{date}" th:field="*{date}"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label th:text="#{label.run.startTime}">startTime</label>
                        </td>
                        <td>
                            <input type="time" th:value="*{date}" th:field="*{startTime}"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label th:text="#{label.run.capacity}">capacity</label>
                        </td>
                        <td>
                            <input th:field="*{capacity}"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label th:text="#{label.run.description}">description</label>
                        </td>
                        <td>
                            <textarea th:field="*{description}"/>
                        </td>
                    </tr>
                    <tr class="col-md-12 text-center ">
                        <td colspan="2">
                            <input class="btn btn-lg btn-primary" type="submit" value="Create"/>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
    </div>
</section>
</body>
</html>