<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">

<head>
    <title>All members in maraton</title>
</head>
<body class="text-center">
<section layout:fragment="content">
    <div class="myform form ">
        <div class="logo mb-3">
            <div class="col-md-12 text-center">
                <h1>Create run</h1>
            </div>
        </div>
        <form method="post" th:action="@{/runs}" th:object="${createRunRequest}">
            <div>
                <label th:text="#{label.run.name}">name</label>
                <input th:field="*{name}"/>
            </div>
            <div>
                <label th:text="#{label.run.place}">place</label>
                <input th:field="*{place}"/>
            </div>
            <div>
                <label th:text="#{label.run.distance}">distance</label>
                <input th:field="*{distance}"/>
            </div>
            <div>
                <label th:text="#{label.run.date}">date</label>
                <input type="date" th:value="*{date}" th:field="*{date}" />
            </div>
            <div>
                <label th:text="#{label.run.startTime}">startTime</label>
                <input type="time" th:value="*{date}" th:field="*{startTime}" />
            </div>
            <div>
                <label th:text="#{label.run.capacity}">capacity</label>
                <input th:field="*{capacity}"/>
            </div>
            <div>
                <label th:text="#{label.run.description}">description</label>
                <textarea th:field="*{description}"/>
            </div>
            <div class="col-md-12 text-center ">
                <input class="btn btn-lg btn-primary" type="submit" value="Create"/>
            </div>
        </form>
    </div>
</div>
</section>
</body>
</html>