<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">

<head>
    <title>All created runs</title>
</head>
<body class="text-center">
<section layout:fragment="content">
    <h1>All runs you've created</h1>
    <table>
        <tr>
            <td>Place</td>
            <td>Distance</td>
            <td>Places left</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr th:each="run: ${runs}">
            <td th:text="${run.place}"></td>
            <td th:text="${run.distance}"></td>
            <td th:text="${run.placesLeft}"></td>
            <td><a class="btn btn-lg btn-secondary" th:href="@{/runs/{runId}(runId=${run.id})}">See details</a></td>
            <td><a class="btn btn-lg btn-secondary" th:href="@{/TODO}">Edit</a></td> <!-- TODO real edit page-->
            <td>
                <form method="POST" th:action="@{/runs/{runId}(runId=${run.id})}">
                    <button class="btn btn-lg btn-secondary" name="submit" type="submit" value="value">Participate
                    </button>
                </form>
            </td> <!-- TODO this form probably should be available from details page-->
        </tr>
    </table>
</section>
</body>
</html>