<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" rel="stylesheet">

<head>
    <title>All run events</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link href="css/style.css" media="all" rel="stylesheet" th:href="@{css/style.css}" type="text/css"/>

    <meta content="#563d7c" name="theme-color">
</head>
<body class="text-center">
<section layout:fragment="content">
<h1>All run events you've created</h1>
    <table>
        <tr>
            <td>Place</td>
            <td>Distance</td>
            <td>Places left</td>
            <td></td>
        </tr>
        <tr th:each="run: ${runs}">
            <td th:text="${run.place}"></td>
            <td th:text="${run.distance}"></td>
            <td th:text="${run.placesLeft}"></td>
            <td><a class="btn btn-secondary" th:href="@{/runs/{runId}(runId=${run.id})}">See details</a></td>
        </tr>
    </table>
</section>
</body>
</html>