<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">

<head>
    <title>User profile</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" href="css/style.css" th:href="@{css/style.css}"/>

    <meta name="theme-color" content="#563d7c">
</head>
<body class="text-center">
<h1>Your profile</h1>

<div class="container fixed-forms">
    <table>
        <tr>
            <td>First name</td>
            <td>
                <p th:text="${user.firstName}">Profile </p>
            </td>
        </tr>
        <tr>
            <td>Last name</td>
            <td>
                <p th:text="${user.lastName}">Profile </p>
            </td>
        </tr>
        <tr>
            <td>E-mail</td>
            <td>
                <p th:text="${user.email}">Email: </p>
            </td>
        </tr>
    </table>
</div>
</body>
</html>