<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<head>
    <title>Biggest run of all times</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" href="css/style.css" th:href="@{css/style.css}"/>

    <meta name="theme-color" content="#563d7c">
</head>
<body class="text-center">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <main role="main" class="inner cover">
        <p class="lead">All runs you participate in
            <a class="btn btn-lg btn-secondary" th:href="@{/participates-in-runs}">Go</a>
        </p>
        <p class="lead">All runs you created<a class="btn btn-lg btn-secondary" th:href="@{/created-runs}">Go</a></p>
        <p class="lead">All runs <a class="btn btn-lg btn-secondary" th:href="@{/all-runs}">Go</a></p>
        <p class="lead">Create run <a class="btn btn-lg btn-secondary" th:href="@{/create-run}">Go</a></p>
    </main>

    <footer class="mastfoot mt-auto">
        <div class="inner">
            <p>VirtusLab</p>
        </div>
    </footer>
</div>
</body>

</html>